:root {
    --purple: #d047ed;
    --white: #fafafa;
    --gray: #ccc;
    --lightGray: #ddd;
  }
  
  * {
    box-sizing: border-box;
    margin: 0px;
  }
  
  body {
    font-size: 14px;
    padding-bottom: 48px; /* footer size */
  }
  
  a, button, p, input, span {
    font-family: 'Comfortaa', cursive;
  }
  
  input {
    outline: 0px;
  }
  
  button {
    background-color: var(--white);
    color: var(--purple);
    border: 1px solid var(--purple);
    cursor: pointer;
  }
  
  .header {
    background-color: var(--purple);
    height: 64px;
    width: 100%;
  }
  
  .header nav {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header nav ul {
    list-style-type: none;
    display: flex;
  }
  
  .header nav ul li {
    margin: 0px 16px;
  }
  
  .header nav a {
    color: var(--white);
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
  }
  
  .header nav a.active {
    text-decoration: underline;
  }
  
  .container {
    padding: 16px;
  }
  
  .tab {
    overflow: hidden;
    border: 1px solid var(--purple);
    background-color: var(--white);
    display: flex;
  }
  
  .tab button {
    background-color: inherit;
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.125rem;
    border-left: 1px solid var(--purple);
    border-right: 1px solid var(--purple);
  }
  
  .tab button:hover {
    background-color: var(--purple);
    color: var(--white);
    opacity: 0.8;
  }
  
  .tab button.active {
    background-color: var(--purple);
    color: var(--white);
  }
  
  .tabcontent {
    display: none;
    padding: 16px;
    border: 1px solid var(--purple);
    border-top: none;
  } 

  #email p {
    margin-bottom: 16px;
  }
  
  #email input, #email button {
    font-size: 1.25rem;
    padding: 8px;
  }
  
  #email span#result {
    display: block;
    margin-top: 8px;
    font-size: 1rem;
  }
  
  #apis > p {
    margin-bottom: 16px;
  }
  
  #apis > div {
    display: flex;
  }
  
  #apis img {
    height: 120px;
    width: auto;
    object-fit: cover;
  }
  
  #apis .apis-info p{
    margin-bottom: 8px;
  }
  
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}